body {
    color: #000;
    background: rgba(0, 0, 0, 0.03);
    font-family: "Open Sans", sans-serif;
    font-size: 50%;
    font-weight: lighter;
}

h1, h2, h3, h4 {
    font-family: "Open Sans", sans-serif;
    font-weight: lighter;
}
h1 {
    clear: right;
}
h1, h2 {
    margin-top: 2em;
}

h3 {
    font-size: 130%;
    font-weight: bold;
}

h3, a {
    color: #ba160c;
}

p, li {
    line-height: 150%;
}

/* to put ul's to the right of an image
ul {
    list-style-position: inside;
}
*/

li {
    margin-top: 0.5em;
}

#logo {
    margin-left: auto;
    margin-right: auto;
    border: 0px;
    width: 200px;
    display: block;
}

#wrapdiv {
    width: 60em;
    margin-left: auto;
    margin-right: auto;
}

#links {
    font-weight: normal;
    color: #666;
}

#links a {
    width: 15em;
    float: left;
    text-align: center;
}

#sel {
    color: #55460d;
}

#story {
    font-weight: light;
    font-size: 13pt;
}

.date {
    font-size: 13px;
    font-weight: normal;
    color: #666;
    display: block;
    margin-top: 4px;
}

.parenthetical {
    font-weight: normal;
    color: #666;
}

.callout {
    float: right;
    border: 1px;
}

img {
    border: 1px solid #aaa;
}

a { 
    text-decoration: none;
    border-bottom: 1px solid #fc9;
}

/* For all <code> */
code {
  font-family: MyFancyCustomFont, monospace;
  font-size: inherit;
  background-color: #eee;
  word-wrap: break-word;
  white-space: pre;
  box-decoration-break: clone;
  padding: .1rem .3rem .2rem;
  border-radius: .2rem;
  border: 1px solid #999;
  display: block;
}
